// Add your own custom styles here


::selection {
    color: #fff;
    background: #00a1fe;
}

span {
    color: #00a1fe;
}

.section-sm {
    padding-top: 7rem
}

/* purpose box */
.block {
    border-bottom: 2px solid transparent;
    transition: .5s all;
  }
  
  .block:hover {
    border-bottom: 2px solid #00A1FE;
  }
  
  .block:hover .icon-box {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  .block .icon-box {
    position: relative;
    width: 160px;
    height: 92.38px;
    background-color: transparent;
    margin: 46.19px auto 60px;
    padding: 20px 0;
    border-left: 2px solid rgba(236, 239, 241, 0.07);
    border-right: 2px solid rgba(236, 239, 241, 0.07);
    font-size: 50px;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
  
  .block .icon-box:after,
  .block .icon-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 113.14px;
    height: 113.14px;
    background-color: inherit;
    left: 20.4315px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
  }
  
  .block .icon-box:before {
    top: -56.5685px;
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    border-right: 2px solid rgba(236, 239, 241, 0.07);
  }
  
  .block .icon-box:after {
    bottom: -56.5685px;
    border-bottom: 2px solid rgba(236, 239, 241, 0.07);
    border-left: 2px solid rgba(236, 239, 241, 0.07);
  }
  
  .block .icon-box h3 {
    color: #afbac4;
  }
